*{ 
  box-sizing: border-box;
}

body {
  background-color: #f8d59f;
}

main, footer p, 
header nav {
  margin: 0 auto;
  width: 1024px;
}

main {
  margin-bottom: 3.5rem;
}

header{
  background-color: #993100;
  padding: 25px;
}

footer {
  background-color: #993100;
  height: 3rem;
  position: fixed;
  bottom: 0;
  margin-top: 1rem;
  width: 100%;
  color: #ddc39e;
  text-align: center;
}

footer p {
  margin-top: 1rem;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: 'Playfair Display', serif;
  letter-spacing: 2px;
}

ul li {
  display: inline-block;
}

li a{
  color: #0e0603;
  text-decoration: none;
  border: 1px #ddc39e solid;
  background-color: #ddc39e;
  padding: 10px;
  margin-right: 20px;
  border-radius: 7px;
  font-weight: bold;
}

header nav ul li:last-child {
  float: right;
}

#blurbsH {
  display: flex;
  /* position: absolute;
  align-items: flex-end; */
  justify-content: space-between;
}


#blurbsH p {
  flex: 1;
  margin-top: 15px;
  max-width: 45%;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-style: italic;
}

.try-nowH {
position: relative;
/* right: -945px; */
float: right;
background-color: #993100;
padding: 8px;
border-radius: 13px;
}

.try-nowH a{
  text-decoration: none;
  font-size: 20px;
  color:#ddc39e;
  font-weight: bold;
}

.formRG {
  text-align: center;
}

label, legend {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-style: italic;
}

legend {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

fieldset {
  margin-bottom: 3rem;
}


.submitRG {
  background-color: #cc9880;
  border-radius: 8px;
  font-weight: bold;
  font-size: 15px;
}

#recipeBoxRG {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#saveButton {
  border: 2px gray outset;
  border-radius: 8px;
  font-weight: bold;
  font-size: 20px;
  background-color: #cc9880;
  width: 75%;
  text-align: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  cursor: pointer;

}
#mealContainer {
border: 1px black solid;
padding: 10px;
width: 30%;
font-family: 'Architects Daughter', cursive;
background-color: #ddc39e;
}

#mealContainer h2 {
  font-size: 25px;
  text-decoration: underline;
}

#recipeBoxRG p{
  margin-left: auto;
  margin-right: auto;
  font-family: 'Architects Daughter', cursive;
  font-size: 20px;
}

#mealContainer ul li {
  display: block;
}

#mealContainer li {
  list-style-type: disc;
}

#spacer {
  height: 3.5rem;
}

#storedRecipesTP div {
  width: 280px;
  margin-left: 5px;
}

#mealContainer {
  margin-left: 20px;
}

#mealContainer:last-of-type {
  margin-bottom: 30px;
}

#storedRecipesTP {
  display: flex;
  flex-wrap: wrap;
}

#aboutUsAU {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#aboutUsAU article {
  max-width: 45%;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-style: italic;
}

div .removeButton{
  border: 1px black solid;
  max-width: 25px;
  max-height: 25px;
  padding: 5px;
  cursor: pointer;
  background-color: #993100;
  margin-right: 20px;
  display: flex;
  flex-wrap: wrap;

}

.tiara {
  width: 200px;
  border-radius: 100%;
  float: left;
}

.tiaraEmail {
  text-decoration: none;
  text-align: center;
}